.env
.venv
config

# IDE
.idea/
.vscode/
*.swp
*.swo

# Variáveis de ambiente
.env
.env.local

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Banco de dados
*.db
*.sqlite3

